{% extends "base.html" %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            <table>
                {% if tasks %}
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th>Notes</th>
                            <th>Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>
                                    <a href="{% url 'edit_task' task.id %}">{{ task.name|capfirst }}</a>
                                </td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno|capfirst }}</td>
                                <td>{{ task.notes }}</td>
                                <td>{{ task.project|capfirst }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
