{% extends "base.html" %}

{% load static %}

{% block content %}
    <body>
        <main>
            <div>
                <h1>Are you sure?</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    <button>Delete</button>
                </form>
            </div>
        </main>
    </body>
{% endblock content %}