{% extends "base.html" %}

{% load static %}

{% block content %}
    <main>
        <div class="project-detail">
            <p>
                <a href="{% url 'edit_project' project_detail.id %}">Edit Project</a>
            </p>
            <p>
                <a href="{% url 'delete_project' project_detail.id %}">Delete Project</a>
            </p>
            <h1>{{ project_detail.name|capfirst }}</h1>
            <p>{{ project_detail.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            <table>
                {% if project_detail.tasks.all %}
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Notes</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project_detail.tasks.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'edit_task' task.id %}">{{ task.name|capfirst }}</a>
                                </td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.notes }}</td>
                                <td>{{ task.is_completed|yesno|capfirst }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}